

<br>
<br>
<table class="table table-striped table-hover table-bordered" id="demotable">
  <thead>
    <tr>
      <th>English field</th>
      <th>Foreign field</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="cards">
    <%= render @cards %>
    <tr>
    <%= form_for(@card, remote: true) do |f| %>
      <td>
        <%= f.text_field :english_field, class: "form-control", placeholder: "English field" %>
      </td>
      <td>
        <%= f.text_field :foreign_field, class: "form-control", placeholder: "Foreign field" %>
      </td>
      <td>
        <%= f.text_field :pronunciation, class: "form-control", placeholder: "Pronunciation" %>
      </td>
      <td>
        <%= f.text_field :image, class: "form-control", placeholder: "Image" %>
      </td>
      <td>
        <%= button_tag "Create Card", class: "btn btn-default" %>
      </td>
    <% end %>
  </tbody>
</table>

<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th>Prompt</th>
      <th>Answer</th>
    </tr>
  </thead>

  <tbody>
    <% @todays_pairings.each do |pairing| %>
      <tr>
        <td><%= pairing.prompt %></td>
        <td><%= pairing.answer %></td>
      <tr>
    <% end %>
  </tbody>
</table>

<br>

<% if @pairing %>
  <!-- Button trigger modal -->
  <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
    Practice</button>



<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      </div>
      <div class="modal-body"> 
        <%= render @pairing %>
      </div>
      <div class="modal-footer">
        <%= button_tag "Flip", class: "btn btn-primary", id: "flip" %>
        <%= form_tag '/update_card_stats', remote: true, id: "rating"  do %>
          <%= hidden_field_tag(:pairing_id, @pairing.id, id: "pairing_id") %>
          <%= hidden_field_tag(:pairing_index, @pairing_index, id: "pairing_index") %>
          <%= radio_button_tag(:response, "forgotten") %>
          <%= label_tag(:response_forgot, "Forgot") %>
          <%= radio_button_tag(:response, "hard") %>
          <%= label_tag(:response_hard, "Hard") %>
          <%= radio_button_tag(:response, "good") %>
          <%= label_tag(:response_hard, "Good") %>
          <%= radio_button_tag(:response, "easy") %>
          <%= label_tag(:response_hard, "Easy") %>
          <%= submit_tag("Submit", class: "btn btn-primary") %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>

