

<br>
<br>
<table class="table table-striped table-hover table-bordered" id="demotable">
  <thead>
    <tr>
      <th>English field</th>
      <th>Foreign field</th>
      <th>Pronunciation</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><%= card.english_field %></td>
        <td><%= card.foreign_field %></td>
        <td><%= card.pronunciation %></td>
        <td><%= card.image %></td>
        <td><%= link_to 'Show', card %></td>
        <td><%= link_to 'Edit', edit_card_path(card) %></td>
        <td><%= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table class="table table-striped table-hover table-bordered" id="demotable">
  <thead>
    <tr>
      <th>Prompt</th>
      <th>Answer</th>
    </tr>
  </thead>

  <tbody>
    <% @todays_pairings.each do |pairing| %>
      <tr>
        <td><%= pairing.prompt %></td>
        <td><%= pairing.answer %></td>
      <tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Card', new_card_path %>
